body {
	font-family: Arial, sans-serif;
	}
h1 {
	font-size: 20pt;
}

h2 {
	font-size: 16pt;
	margin: 1em 0;
}

h1,h2 {
	font-family: Helvetica, Arial, sans-serif;
}

dt {
	font-weight: bold;
	margin: 1em 0 0 0;
}

dd {
	font-weight: normal;
	margin: 0.2em 0 0.5em 0;
	padding: 0;
	width: 42em;
}

p {
	margin: 0.2em 0 0.5em 0;
	width: 42em;
}

.eventtest {
	width: 100px;
	height: 50px;
	background: #00f;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 150px;
	padding: 2px;
}